.app {
  /* background-color: hsl(220deg 100% 80%); */
  /* height: 100vh; */
}
/* .box {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
}
.box-1 {
  box-shadow: 1px 2px 4px hsl(220deg 60% 50%);
}
.box-2 {
  margin-left: 30px;
  filter: drop-shadow(1px 2px 4px hsl(220deg 60% 50%));
}
.transition-box-shadow {
  box-shadow: 4px 8px 16px hsl(220deg 60% 50%);
}
.transition-shadow {
  filter: drop-shadow(4px 8px 16px hsl(220deg 60% 50%));
} */
