:root {
  --color-base-deg: 216;
  --color-primary-deg: 216;
  --color-base: hsl(var(--color-base-deg) 22% 95%);
  --color-primary: hsl(var(--color-primary-deg) 100% 72%);
  --color-secondary: hsl(360deg 100% 72%);
  --color-error: hsl(0deg 84% 60%);
  --color-warning: hsl(38deg 92% 50%);
  --easing: 200ms ease-in-out;
  --emboss-0: 0px 0px 0px hsl(var(--color-base-deg) 3% 5% / 6%),
    0px 0px 0px hsl(var(--color-base-deg) 3% 5% / 10%),
    0px 0px 0px hsl(var(--color-base-deg) 3% 100% / 80%),
    0px 0px 0px hsl(var(--color-base-deg) 5% 100% / 80%);
  --emboss-100: 1px 1px 1px hsl(var(--color-base-deg) 3% 5% / 6%),
    2px 2px 4px hsl(var(--color-base-deg) 3% 5% / 10%),
    -1px -1px 1px hsl(var(--color-base-deg) 3% 100% / 80%),
    -2px -2px 4px hsl(var(--color-base-deg) 5% 100% / 80%);
  --emboss-200: 2px 2px 2px hsl(var(--color-base-deg) 3% 5% / 6%),
    4px 4px 8px hsl(var(--color-base-deg) 3% 5% / 10%),
    -2px -2px 2px hsl(var(--color-base-deg) 3% 100% / 80%),
    -4px -4px 8px hsl(var(--color-base-deg) 5% 100% / 80%);
  --emboss-300: 3px 3px 3px hsl(var(--color-base-deg) 3% 5% / 6%),
    5px 5px 12px hsl(var(--color-base-deg) 3% 5% / 10%),
    -3px -3px 3px hsl(var(--color-base-deg) 3% 100% / 80%),
    -5px -5px 12px hsl(var(--color-base-deg) 5% 100% / 80%);
  --emboss-400: 4px 4px 4px hsl(var(--color-base-deg) 3% 5% / 6%),
    6px 6px 16px hsl(var(--color-base-deg) 3% 5% / 10%),
    -4px -4px 4px hsl(var(--color-base-deg) 3% 100% / 80%),
    -6px -6px 16px hsl(var(--color-base-deg) 5% 100% / 80%);
  --emboss-500: 5px 5px 5px hsl(var(--color-base-deg) 3% 5% / 6%),
    7px 7px 20px hsl(var(--color-base-deg) 3% 5% / 10%),
    -5px -5px 5px hsl(var(--color-base-deg) 3% 100% / 80%),
    -7px -7px 20px hsl(var(--color-base-deg) 5% 100% / 80%);
  --dent-0: inset 0px 0px 0px hsl(var(--color-base-deg) 3% 5% / 6%),
    inset 0px 0px 0px hsl(var(--color-base-deg) 3% 5% / 10%),
    inset 0px -0px 0px hsl(var(--color-base-deg) 3% 100% / 80%),
    inset 0px 0px 0px hsl(var(--color-base-deg) 5% 100% / 80%);
  --dent-100: inset 1px 1px 1px hsl(var(--color-base-deg) 3% 5% / 6%),
    inset 2px 2px 4px hsl(var(--color-base-deg) 3% 5% / 10%),
    inset -1px -1px 1px hsl(var(--color-base-deg) 3% 100% / 80%),
    inset -2px -2px 4px hsl(var(--color-base-deg) 5% 100% / 80%);
  --dent-200: inset 2px 2px 2px hsl(var(--color-base-deg) 3% 5% / 6%),
    inset 4px 4px 8px hsl(var(--color-base-deg) 3% 5% / 10%),
    inset -2px -2px 2px hsl(var(--color-base-deg) 3% 100% / 80%),
    inset -4px -4px 8px hsl(var(--color-base-deg) 5% 100% / 80%);
  --dent-300: inset 3px 3px 3px hsl(var(--color-base-deg) 3% 5% / 6%),
    inset 5px 5px 12px hsl(var(--color-base-deg) 3% 5% / 10%),
    inset -3px -3px 3px hsl(var(--color-base-deg) 3% 100% / 80%),
    inset -5px -5px 12px hsl(var(--color-base-deg) 5% 100% / 80%);
  --dent-400: inset 4px 4px 4px hsl(var(--color-base-deg) 3% 5% / 6%),
    inset 6px 6px 16px hsl(var(--color-base-deg) 3% 5% / 10%),
    inset -4px -4px 4px hsl(var(--color-base-deg) 3% 100% / 80%),
    inset -6px -6px 16px hsl(var(--color-base-deg) 5% 100% / 80%);
  --dent-500: inset 5px 5px 5px hsl(var(--color-base-deg) 3% 5% / 6%),
    inset 7px 7px 20px hsl(var(--color-base-deg) 3% 5% / 10%),
    inset -5px -5px 5px hsl(var(--color-base-deg) 3% 100% / 80%),
    inset -7px -7px 20px hsl(var(--color-base-deg) 5% 100% / 80%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .emboss-0 {
    box-shadow: var(--emboss-0);
  }
  .emboss-100 {
    box-shadow: var(--emboss-100);
  }
  .emboss-200 {
    box-shadow: var(--emboss-200);
  }
  .emboss-300 {
    box-shadow: var(--emboss-300);
  }
  .emboss-400 {
    box-shadow: var(--emboss-400);
  }
  .emboss-500 {
    box-shadow: var(--emboss-500);
  }
  .dent-0 {
    box-shadow: var(--dent-0);
  }
  .dent-100 {
    box-shadow: var(--dent-100);
  }
  .dent-200 {
    box-shadow: var(--dent-200);
  }
  .dent-300 {
    box-shadow: var(--dent-300);
  }
  .dent-400 {
    box-shadow: var(--dent-400);
  }
  .dent-500 {
    box-shadow: var(--dent-500);
  }
  .m-transition-shadow {
    transition-property: box-shadow;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
  }
  .m-transition-transform {
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
  }
  .m-transition-border {
    transition-property: border;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
  }
  .m-transition-color {
    transition-property: color;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
  }
  .m-transition-bg {
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
  }

  /* ===== scroll bar ===== */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: hsl(var(--color-primary-deg) 100% 72% / 50%);
    border-radius: 10px;
    padding: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: hsl(var(--color-base-deg) 22% 93%);
  }
}

@layer components {
  /* ===== button ===== */
  .Mongsil-button-root {
    @apply font-semibold px-4 py-2 rounded m-transition-shadow;
  }
  .Mongsil-button-root.disabled {
    @apply bg-gray-200 text-gray-400 cursor-not-allowed;
  }
  .Mongsil-button-root.emboss {
    @apply emboss-300;
  }
  .Mongsil-button-root.emboss.pressed {
    @apply emboss-0;
  }
  .Mongsil-button-root.dent {
    @apply dent-0;
  }
  .Mongsil-button-root.dent.pressed {
    @apply dent-200;
  }
  .Mongsil-button-root > .Mongsil-button-label {
    @apply m-transition-transform;
  }
  .Mongsil-button-root.pressed > .Mongsil-button-label {
    transform: scale(0.95);
  }

  /* ===== input ===== */
  .Mongsil-input-root {
    @apply bg-transparent rounded border;
    @apply border-gray-300 dent-0 m-transition-shadow m-transition-border;
  }
  .Mongsil-input-root.focused {
    @apply border-transparent dent-100;
  }
  .Mongsil-input-root > .Mongsil-input-base {
    @apply appearance-none bg-transparent px-4 py-2 text-gray-700 focus:outline-none focus:bg-transparent;
  }
  .Mongsil-input-root.disabled,
  .Mongsil-input-root.disabled > .Mongsil-input-base {
    @apply bg-gray-200 text-gray-400 cursor-not-allowed;
  }

  /* ===== checkbox ===== */
  .Mongsil-checkbox-root {
    @apply relative inline-flex items-center justify-center cursor-pointer p-2;
  }
  .Mongsil-checkbox-root > .Mongsil-checkbox-base {
    @apply appearance-none;
  }
  .Mongsil-checkbox-root > .Mongsil-checkbox-checker {
    @apply inline-flex items-center justify-center rounded w-5 h-5  text-gray-300 bg-transparent;
    transition: box-shadow var(--easing), color var(--easing);
  }
  .Mongsil-checkbox-root > .Mongsil-checkbox-checker.emboss,
  .Mongsil-checkbox-root > .Mongsil-checkbox-checker.emboss-outline,
  .Mongsil-checkbox-root > .Mongsil-checkbox-checker.emboss-fill {
    @apply emboss-200;
  }
  .Mongsil-checkbox-root > .Mongsil-checkbox-checker.emboss-outline {
    @apply border border-transparent;
    transition: border var(--easing), color 200ms var(--easing),
      box-shadow var(--easing);
  }
  .Mongsil-checkbox-root > .Mongsil-checkbox-checker.emboss-fill {
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out,
      box-shadow 200ms ease-in-out;
  }
  .Mongsil-checkbox-root.checked > .Mongsil-checkbox-checker {
    @apply emboss-0;
  }
  .Mongsil-checkbox-root.checked > .Mongsil-checkbox-checker.emboss {
    @apply text-primary;
  }
  .Mongsil-checkbox-root.checked > .Mongsil-checkbox-checker.emboss-fill {
    @apply bg-primary text-base;
  }
  .Mongsil-checkbox-root.checked > .Mongsil-checkbox-checker.emboss-outline {
    @apply border-gray-300 text-primary;
  }
  /* dent */
  .Mongsil-checkbox-root > .Mongsil-checkbox-checker.dent,
  .Mongsil-checkbox-root > .Mongsil-checkbox-checker.dent-outline {
    @apply dent-0;
  }
  .Mongsil-checkbox-root.checked > .Mongsil-checkbox-checker.dent,
  .Mongsil-checkbox-root.checked > .Mongsil-checkbox-checker.dent-outline {
    @apply dent-100;
  }
  .Mongsil-checkbox-root > .Mongsil-checkbox-checker.dent {
    transition: color var(--easing);
  }
  .Mongsil-checkbox-root.checked > .Mongsil-checkbox-checker.dent {
    @apply text-primary;
  }
  .Mongsil-checkbox-root > .Mongsil-checkbox-checker.dent-outline {
    @apply border border-gray-300;
    transition: border var(--easing), color 200ms var(--easing),
      box-shadow var(--easing);
  }
  .Mongsil-checkbox-root.checked > .Mongsil-checkbox-checker.dent-outline {
    @apply border-transparent text-primary;
  }
  .Mongsil-checkbox-root .Mongsil-checkbox-icon {
    @apply w-3;
  }
  .Mongsil-checkbox-root > label {
    @apply ml-3 cursor-pointer;
  }
  .Mongsil-checkbox-root.disabled {
    @apply cursor-not-allowed !important;
  }
  .Mongsil-checkbox-root.disabled > .Mongsil-checkbox-checker {
    @apply bg-gray-200  text-gray-400 cursor-not-allowed !important;
  }
  .Mongsil-checkbox-root.disabled .Mongsil-checkbox-icon {
    @apply text-gray-300 cursor-not-allowed !important;
  }
  .Mongsil-checkbox-root.disabled .Mongsil-checkbox-label {
    @apply text-gray-400 cursor-not-allowed !important;
  }

  /* ===== radio ===== */
  .Mongsil-radio-root {
    @apply relative inline-flex items-center justify-center cursor-pointer p-2;
  }
  .Mongsil-radio-root > .Mongsil-radio-base {
    @apply appearance-none;
  }
  .Mongsil-radio-root > .Mongsil-radio-checker {
    @apply relative inline-flex items-center justify-center rounded-full w-5 h-5  text-gray-300 bg-base;
  }
  .Mongsil-radio-root > .Mongsil-radio-checker > .Mongsil-radio-checker-outer {
    @apply relative inline-flex items-center justify-center rounded-full border-2 border-gray-300;
    width: 14px;
    height: 14px;
    transition: border-color var(--easing);
  }
  .Mongsil-radio-root
    .Mongsil-radio-base:checked
    + .Mongsil-radio-checker
    > .Mongsil-radio-checker-outer {
    @apply border-primary;
  }
  .Mongsil-radio-root > .Mongsil-radio-checker .Mongsil-radio-checker-inner {
    @apply bg-primary rounded-full scale-0 transition-transform;
    width: 6px;
    height: 6px;
  }
  .Mongsil-radio-root
    > .Mongsil-radio-base:checked
    + .Mongsil-radio-checker
    .Mongsil-radio-checker-inner {
    @apply scale-100;
  }
  .Mongsil-radio-root > .Mongsil-radio-label {
    @apply ml-3 cursor-pointer;
  }

  /* emboss */
  .Mongsil-radio-root > .Mongsil-radio-checker.emboss {
    @apply emboss-200;
  }
  .Mongsil-radio-root
    .Mongsil-radio-base:checked
    + .Mongsil-radio-checker.emboss {
    @apply emboss-0;
  }

  /* dent */
  .Mongsil-radio-root > .Mongsil-radio-checker.dent {
    @apply dent-0 border border-gray-300;
    transition: box-shadow var(--easing), border-color var(--easing);
  }
  .Mongsil-radio-root
    .Mongsil-radio-base:checked
    + .Mongsil-radio-checker.dent {
    @apply dent-100 border-transparent;
  }
  .Mongsil-radio-root
    > .Mongsil-radio-checker.dent
    .Mongsil-radio-checker-outer,
  .Mongsil-radio-root
    > .Mongsil-radio-base:checked
    + .Mongsil-radio-checker.dent
    .Mongsil-radio-checker-outer {
    @apply border-none;
  }
  .Mongsil-radio-root
    > .Mongsil-radio-base:checked
    + .Mongsil-radio-checker.dent
    .Mongsil-radio-checker-inner {
    @apply scale-150;
  }
  .Mongsil-radio-root.disabled,
  .Mongsil-radio-root.disabled .Mongsil-radio-label {
    @apply text-gray-400 cursor-not-allowed !important;
  }
  .Mongsil-radio-root.disabled .Mongsil-radio-checker {
    @apply bg-gray-200 text-gray-400 cursor-not-allowed !important;
  }
  .Mongsil-radio-root.disabled .Mongsil-radio-checker-inner {
    @apply bg-gray-300 !important;
  }
  .Mongsil-radio-root.disabled,
  .Mongsil-radio-checker > .Mongsil-radio-checker-outer,
  .Mongsil-radio-root.disabled
    .Mongsil-radio-base:checked
    + .Mongsil-radio-checker
    > .Mongsil-radio-checker-outer {
    @apply border-gray-300;
  }

  /* ===== switch ===== */
  .Mongsil-switch-root {
    @apply relative inline-flex items-center justify-center cursor-pointer p-2;
  }
  .Mongsil-switch-root > .Mongsil-switch-base {
    @apply appearance-none;
  }
  .Mongsil-switch-root > .Mongsil-switch-bg {
    @apply relative w-11 h-6  rounded-full;
  }
  .Mongsil-switch-root > .Mongsil-switch-bg.dent {
    @apply dent-100;
  }
  .Mongsil-switch-root > .Mongsil-switch-bg.emboss {
    @apply border border-gray-300;
  }
  .Mongsil-switch-root .Mongsil-switch-checker {
    @apply w-4 h-4 inline-flex items-center justify-center rounded-full;
    @apply absolute bg-gray-300;
    left: 4px;
    top: 4px;
    transition: transform 200ms ease-in-out, background-color 200ms ease-in-out;
  }
  .Mongsil-switch-root .Mongsil-switch-bg.emboss .Mongsil-switch-checker {
    @apply emboss-200;
  }
  .Mongsil-switch-root
    .Mongsil-switch-base:checked
    + .Mongsil-switch-bg
    .Mongsil-switch-checker {
    @apply bg-primary;
    transform: translateX(20px);
  }
  .Mongsil-switch-root.disabled .Mongsil-switch-bg {
    @apply bg-gray-200 cursor-not-allowed !important;
  }
  .Mongsil-switch-root.disabled
    .Mongsil-switch-base:checked
    + .Mongsil-switch-bg
    .Mongsil-switch-checker {
    @apply bg-gray-300;
  }

  /* ===== select ===== */
  .Mongsil-select-root {
    @apply relative inline-flex flex-col items-center justify-center;
  }
  .Mongsil-select-root > .Mongsil-select-value-container {
    @apply flex items-center justify-between border border-gray-300 rounded px-4 py-2 cursor-pointer;
  }
  .Mongsil-select-root .Mongsil-select-value {
    @apply inline-flex leading-normal;
    height: 1.5rem;
    min-width: 3rem;
  }
  .Mongsil-select-root .Mongsil-select-icon {
    @apply appearance-none ml-2;
  }
  .Mongsil-select-root .Mongsil-select-float-container {
    @apply relative w-full;
  }
  .Mongsil-select-root .Mongsil-select-float-panel {
    @apply absolute left-0  shadow-xl w-full cursor-pointer z-10 rounded-b;
    top: 0;
    backdrop-filter: blur(2px);
    /* background: hsl(var(--color-base-deg) 22% 98% / 50%); */
    background: hsl(var(--color-base-deg) 22% 95% / 70%);
    /* background: hsl(var(--color-base)); */
    /* border-left: 2px solid hsl(var(--color-base-deg) 22% 98%); */
    box-sizing: border-box;
    transform-origin: top;
    display: none;
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .Mongsil-select-root .Mongsil-select-float-panel.animate-visible-panel {
    display: block;
  }
  .Mongsil-select-root.disabled {
    @apply bg-gray-200 text-gray-400;
  }
  .Mongsil-select-root.disabled > .Mongsil-select-value-container,
  .Mongsil-select-root.disabled button {
    @apply cursor-not-allowed;
  }
  .Mongsil-select-root.disabled .Mongsil-select-icon svg {
    @apply text-gray-400;
  }

  /* ===== select.option ===== */
  .Mongsil-option-root {
    @apply px-4 py-2;
  }
  .Mongsil-option-root:hover,
  .Mongsil-option-root.selected {
    background: hsl(var(--color-primary-deg) 100% 72% / 10%);
  }
  .Mongsil-option-root.selected {
    @apply font-bold;
  }

  /* ===== form-item ===== */
  .Mongsil-form_item-root {
    @apply relative flex;
  }
  .Mongsil-form_item-root .Mongsil-form_item-container {
    @apply relative;
  }
  /* label */
  .Mongsil-form_item-root .Mongsil-form_item-label {
    @apply text-sm;
  }
  .Mongsil-form_item-root.flex-col .Mongsil-form_item-label {
    @apply pb-2;
  }
  .Mongsil-form_item-root.flex-row .Mongsil-form_item-label > span {
    @apply inline-block pr-2 pt-2;
  }
  /* helper text */
  .Mongsil-form_item-root .Mongsil-form_item-helper_text {
    @apply text-xs mt-1;
  }
  /* error message */
  .Mongsil-form_item-root .Mongsil-form_item-error_message {
    @apply text-xs mt-1;
    color: var(--color-error);
  }
  .Mongsil-form_item-root.disabled .Mongsil-form_item-label,
  .Mongsil-form_item-root.disabled .Mongsil-form_item-helper_text,
  .Mongsil-form_item-root.disabled .Mongsil-form_item-error_message {
    @apply text-gray-400 cursor-not-allowed !important;
  }
}
