:root {
  --color-base-deg: 216;
  --color-base: hsl(var(--color-base-deg) 22% 95%);
  --color-primary: hsl(216deg 100% 72%);
  --color-secondary: hsl(360deg 100% 72%);
  --emboss-0: 0px 0px 0px hsl(var(--color-base-deg) 3% 5% / 6%),
    0px 0px 0px hsl(var(--color-base-deg) 3% 5% / 10%),
    0px 0px 0px hsl(var(--color-base-deg) 3% 100% / 80%),
    0px 0px 0px hsl(var(--color-base-deg) 5% 100% / 80%);
  --emboss-100: 1px 1px 1px hsl(var(--color-base-deg) 3% 5% / 6%),
    2px 2px 4px hsl(var(--color-base-deg) 3% 5% / 10%),
    -1px -1px 1px hsl(var(--color-base-deg) 3% 100% / 80%),
    -2px -2px 4px hsl(var(--color-base-deg) 5% 100% / 80%);
  --emboss-200: 2px 2px 2px hsl(var(--color-base-deg) 3% 5% / 6%),
    4px 4px 8px hsl(var(--color-base-deg) 3% 5% / 10%),
    -2px -2px 2px hsl(var(--color-base-deg) 3% 100% / 80%),
    -4px -4px 8px hsl(var(--color-base-deg) 5% 100% / 80%);
  --emboss-300: 3px 3px 3px hsl(var(--color-base-deg) 3% 5% / 6%),
    5px 5px 12px hsl(var(--color-base-deg) 3% 5% / 10%),
    -3px -3px 3px hsl(var(--color-base-deg) 3% 100% / 80%),
    -5px -5px 12px hsl(var(--color-base-deg) 5% 100% / 80%);
  --emboss-400: 4px 4px 4px hsl(var(--color-base-deg) 3% 5% / 6%),
    6px 6px 16px hsl(var(--color-base-deg) 3% 5% / 10%),
    -4px -4px 4px hsl(var(--color-base-deg) 3% 100% / 80%),
    -6px -6px 16px hsl(var(--color-base-deg) 5% 100% / 80%);
  --emboss-500: 5px 5px 5px hsl(var(--color-base-deg) 3% 5% / 6%),
    7px 7px 20px hsl(var(--color-base-deg) 3% 5% / 10%),
    -5px -5px 5px hsl(var(--color-base-deg) 3% 100% / 80%),
    -7px -7px 20px hsl(var(--color-base-deg) 5% 100% / 80%);
  --dent-0: inset 0px 0px 0px hsl(var(--color-base-deg) 3% 5% / 6%),
    inset 0px 0px 0px hsl(var(--color-base-deg) 3% 5% / 10%),
    inset 0px -0px 0px hsl(var(--color-base-deg) 3% 100% / 80%),
    inset 0px 0px 0px hsl(var(--color-base-deg) 5% 100% / 80%);
  --dent-100: inset 1px 1px 1px hsl(var(--color-base-deg) 3% 5% / 6%),
    inset 2px 2px 4px hsl(var(--color-base-deg) 3% 5% / 10%),
    inset -1px -1px 1px hsl(var(--color-base-deg) 3% 100% / 80%),
    inset -2px -2px 4px hsl(var(--color-base-deg) 5% 100% / 80%);
  --dent-200: inset 2px 2px 2px hsl(var(--color-base-deg) 3% 5% / 6%),
    inset 4px 4px 8px hsl(var(--color-base-deg) 3% 5% / 10%),
    inset -2px -2px 2px hsl(var(--color-base-deg) 3% 100% / 80%),
    inset -4px -4px 8px hsl(var(--color-base-deg) 5% 100% / 80%);
  --dent-300: inset 3px 3px 3px hsl(var(--color-base-deg) 3% 5% / 6%),
    inset 5px 5px 12px hsl(var(--color-base-deg) 3% 5% / 10%),
    inset -3px -3px 3px hsl(var(--color-base-deg) 3% 100% / 80%),
    inset -5px -5px 12px hsl(var(--color-base-deg) 5% 100% / 80%);
  --dent-400: inset 4px 4px 4px hsl(var(--color-base-deg) 3% 5% / 6%),
    inset 6px 6px 16px hsl(var(--color-base-deg) 3% 5% / 10%),
    inset -4px -4px 4px hsl(var(--color-base-deg) 3% 100% / 80%),
    inset -6px -6px 16px hsl(var(--color-base-deg) 5% 100% / 80%);
  --dent-500: inset 5px 5px 5px hsl(var(--color-base-deg) 3% 5% / 6%),
    inset 7px 7px 20px hsl(var(--color-base-deg) 3% 5% / 10%),
    inset -5px -5px 5px hsl(var(--color-base-deg) 3% 100% / 80%),
    inset -7px -7px 20px hsl(var(--color-base-deg) 5% 100% / 80%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .emboss-0 {
    box-shadow: var(--emboss-0);
  }
  .emboss-100 {
    box-shadow: var(--emboss-100);
  }
  .emboss-200 {
    box-shadow: var(--emboss-200);
  }
  .emboss-300 {
    box-shadow: var(--emboss-300);
  }
  .emboss-400 {
    box-shadow: var(--emboss-400);
  }
  .emboss-500 {
    box-shadow: var(--emboss-500);
  }
  .dent-0 {
    box-shadow: var(--dent-0);
  }
  .dent-100 {
    box-shadow: var(--dent-100);
  }
  .dent-200 {
    box-shadow: var(--dent-200);
  }
  .dent-300 {
    box-shadow: var(--dent-300);
  }
  .dent-400 {
    box-shadow: var(--dent-400);
  }
  .dent-500 {
    box-shadow: var(--dent-500);
  }
  .m-transition-shadow {
    transition-property: box-shadow;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
  }
  .m-transition-transform {
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
  }
  .m-transition-border {
    transition-property: border;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
  }
  .m-transition-color {
    transition-property: color;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
  }
  .m-transition-bg {
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
  }
}

@layer components {
  /* ===== button ===== */
  .Mongsil-button-root {
    @apply font-semibold px-4 py-2 rounded emboss-300 m-transition-shadow;
  }
  .Mongsil-button-root.pressed {
    @apply emboss-0;
  }
  .Mongsil-button-root > .Mongsil-button-label {
    @apply m-transition-transform;
  }
  .Mongsil-button-root.pressed > .Mongsil-button-label {
    transform: scale(0.95);
  }

  /* ===== input ===== */
  .Mongsil-input-root {
    @apply bg-transparent rounded border;
    @apply border-gray-300 dent-0 m-transition-shadow m-transition-border;
  }
  .Mongsil-input-root.focused {
    @apply border-transparent dent-100;
  }
  .Mongsil-input-root > .Mongsil-input-base {
    @apply appearance-none bg-transparent px-4 py-2 text-gray-700 leading-tight focus:outline-none focus:bg-transparent;
  }

  /* ===== checkbox ===== */
  .Mongsil-checkbox-root {
    @apply relative inline-flex items-center justify-center cursor-pointer p-2;
  }
  .Mongsil-checkbox-root > .Mongsil-checkbox-base {
    @apply appearance-none;
  }
  .Mongsil-checkbox-root > .Mongsil-checkbox-checker {
    @apply inline-flex items-center justify-center rounded w-5 h-5  text-gray-300 bg-transparent;
    @apply m-transition-shadow emboss-200;
  }
  .Mongsil-checkbox-root > .Mongsil-checkbox-checker.Mongsil-fill {
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out,
      box-shadow 200ms ease-in-out;
  }
  .Mongsil-checkbox-root > .Mongsil-checkbox-checker.Mongsil-border {
    transition: border 200ms ease-in-out, color 200ms ease-in-out, box-shadow 200ms ease-in-out;
    @apply border border-transparent;
  }
  .Mongsil-checkbox-root.checked > .Mongsil-checkbox-checker {
    @apply emboss-0;
  }
  .Mongsil-checkbox-root.checked > .Mongsil-checkbox-checker.Mongsil-fill {
    @apply bg-primary text-base;
  }
  .Mongsil-checkbox-root.checked > .Mongsil-checkbox-checker.Mongsil-border {
    @apply border-gray-300 text-primary;
  }
  .Mongsil-checkbox-root.checked > .Mongsil-checkbox-checker.Mongsil-none {
    @apply text-primary;
  }
  .Mongsil-checkbox-root .Mongsil-checkbox-icon {
    @apply w-3;
  }
  .Mongsil-checkbox-root > label {
    @apply ml-3 cursor-pointer;
  }
}
